{
  "ignore": [
    "node_modules/**"
  ],
  "presets": [
    "es2015"
  ],
  "plugins": [
    "babel-plugin-transform-regenerator",
    ["babel-plugin-transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}